
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>


  <header>
        <% include partials/_header %>
  </header>


  <ul><% for(var key in urls){ %>

    <li>

    <p> <% key %> : <%= longURL %> </p>

    <form action="/urls/<%= key %>/delete" method="POST" style="margin:10px;">
    <%= key %> : <%= urls[key].longURL %>

    <span style="padding:10px;"><a href="urls/:id/update">Edit</a></span>

    <span style="padding:10px;"><button>Delete</button></span>

    </form>
    </li>

    <% }; %>

  </ul>





  <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:10px;">

      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">

      <input type="submit" value="Update">

  </form>


</body>
</html>